.nav-bar{
    list-style: none;
    padding: 24px;
    padding-left: 0px;
    background-color: #333;
    
    

    
}
.nav-bar a{
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 16px;
    padding: 24px;
    
    
    
    
}


#link1{
    
       
}

#link2{
    
    
}

#link3{
    
      
}

#link1:hover{
    background-color: black;
}

#link2:hover{
    background-color: black;
}

#link3:hover{
    background-color: black;
}
